.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    width: 100%;
}

.form-details input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/* .form input{
    padding: 10px;
    width: 100%;

} */